# Getting started

Welcome to the **{{ subgraph.name }}** GraphQL API!

## What this graph is all about

**TODO** Describe the purpose and use cases for your graph here. This is where you can tell tåhe story of your API, and all of its deep magic...🦄🌌✨

### Getting help with this graph

For support working with this graph, checkout the service-now entry: [{{ subgraph.appId }}](https://fidelity.service-now.com/nav_to.do?uri=%2Fcmdb_ci_appl_list.do%3Fsysparm_query%3D123TEXTQUERY321%253D{{subgraph.appId}}%255Esys_class_name%253Dcmdb_ci_appl)
